<div class="container">
    <div class="row">
        <div class="col-sm"><a href="mailto:info@cdi-hq.com">info@cdi-hq.com</a></div>
        <div class="col-sm"> &copy; 2021 - Computer Deductions, Inc.</div>
        <div class="col-sm"><a href="tel:9169873600">(916) 987-3600</a></div>
    </div>
</div>